################## Backend #######################

# Ignore bundler config.
/backend/.bundle

# Ignore all logfiles and tempfiles.
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep

# Ignore uploaded files in development.
/backend/storage/*
!/backend/storage/.keep
/backend/tmp/storage/*
!/backend/tmp/storage/
!/backend/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/backend/config/master.key


################## Frontend #######################

.DS_Store
node_modules
/dist

# local env files
/frontend/.env.local
/frontend/.env.*.local
/frontend/.env

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Editor directories and files
/frontend/.idea
/frontend/.vscode
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

################## Other #######################

*key.json
